.header_position{
        position: fixed;
        width: 100%;
        z-index: 1;
        height: auto
}

/* SearchBar.css */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.search-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}